@import "../../assets/colors.scss";
// .efforts {
//     background-image: linear-gradient(180deg, $secondary-color, transparent) !important;
// }

.section-title .heading {
    text-align: center;
}

.hover-text {
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    span {
        color: #257aab;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 33px;
    }
}

.hover-text::before {
    content: '';
    position: absolute;
    width: 100%; /* Initial width of the line */
    height: 2px;
    display: block;
    margin-top: 5px;
    background: #333;
    left: 0;
    transition: width 0.4s ease;
}

// .hover-text:hover::before {
//     width: 100%;
//     height: 4px;
//     left: 0;
//     // background: ;
//     transition: width 0.3s ease;
// }

.title-with-border-left p {
    margin: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    text-transform: uppercase;
    color: rgb(39 39 39);
}