<div class="section-title about-us">
    <!-- <div class="container heading">
        <div class="hover-text"><span>About Us</span></div>
    </div> -->
    <div class="about container row">
        <div class="col-xs-12 col-md-12 col-lg-5">
            <div class="left-side-img-section">
                <div class="position-relative">
                    <img src="../../../assets/gif/welding.jpeg" class="w-100" alt="about img">
                </div>
                <div class="experiance-box wow fadeInUp" data-wow-duration=".6s" style="visibility: visible; animation-duration: 0.6s; animation-name: fadeInUp;">
                    <h3>More Than<span>65</span>Years of Experience</h3>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-7">
            <div class="right-text-section">
                <!-- <div class="title-with-border-left">
                    <p>About us</p>
                </div> -->
                <h2>LEADING COMPONENTS AND SYSTEMS MANUFACTURER</h2>
                <p>
                    <b>Plutonia Dynamics</b> is a leading global manufacturer of
                    proprietary automotive solutions and systems supplying to OEMs as Tier-1. We have made
                    important contribution to the automotive industry supply chain for more than 1 year
                    with our innovative products. We are one of the leading manufacturers of
                    automotive switching systems, automotive lighting systems, automotive acoustics systems,
                    automotive seating systems and alloy wheels.
                </p>
                <!-- <a href="/about" class="btn-animation-arrow">
                    Read More <img src="/images/b-right-arrow.svg" alt="arrow">
                </a> -->

            </div>
        </div>
    </div>
</div>