@import "../../../assets/colors.scss";

.navbar-li-item {
    margin-right: 40px;
    a {
        text-decoration: none;
        color: $main-color;
    }
}

.menu {
    background-image: url('../../../assets/img/icons/menu.png') !important;
}

.collapse-brand a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: $main-color;
}