<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['']">
      <img src="./assets/img/logo/logo-no-background.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon menu"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row d-flex justify-content-between align-items-center">
          <div class="col-10 collapse-brand">
            <a [routerLink]="['/']">
              <!-- <img src="./assets/img/brand/blue.png"> -->
               Plutonia Dynamics
            </a>
          </div>
          <div class="col-2 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="navbar-li-item">
          <a class="" [routerLink]="['home']">
            <span class="nav-link-inner--text">Home</span>
          </a>
        </li>
        <li class="navbar-li-item">
          <a class="" [routerLink]="['/about-us']">
            <span class="nav-link-inner--text">About Us</span>
          </a>
        </li>
        <li class="navbar-li-item">
          <a class="" routerLinkActive="active" [routerLink]="['/contact']">
            <span class="nav-link-inner--text">Contact Us</span>
          </a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link no-caret" [routerLink]="['']">
            <span class="nav-link-inner--text">Home</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" routerLinkActive="active" [routerLink]="['/contact']">
            <span class="nav-link-inner--text">Contact Us</span>
          </a>
        </li> -->
      </ul>
      
    </div>
  </div>
</nav>
