<section class="hero" onclick="window.open('https://www.plutoniadynamics.com/', '_self')">

  <div class="hero-bg"></div>
  <div class="overlay"></div>
  <div class="hero-content">

    <h1>
      YOU’RE AT THE<br>
      <span>RIGHT PLACE</span>
    </h1>

    <p class="services-line">
      INNVOATE | AUTOMATE | ELEVATE
    </p>

    <a href="#explore" class="cta">
      CLICK HERE TO EXPLORE MORE →
    </a>

    <div class="features">
      <div>⚙ Smart Automation</div>
      <div>🛠 Custom Solution</div>
      <div>🚚 Smooth Delivery</div>
      <div>🔩 Trust</div>
      
    </div>

    <p class="tagline">
      "Engineering Excellence. Powering Industries."
    </p>

  </div>

</section>