<div class="about-us">
    <p class="c2">
        <span class="word">About</span>
        <span class="word">Us</span> 
    </p>
</div>
<!-- <section>
    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
        <div>
            dfsfsd
        </div>
        <div>
fdsffs
        </div>
        <div>
fdsffs
        </div>
    </div>
</section> -->
<section>
    <!-- [ngClass]="{'fade-in-image': isScroll}" -->
    <div 
        class="service-container d-flex flex-row justify-content-between align-items-start">
        <!-- [ngClass]="{'fade-in-text-1': isScroll}"  -->
        <div class="service-item xs-mb">
            <div class="example-card middle-content">
                <div class="middle-header">
                    <img src="../../../assets/img/innovate4.jpg" alt="">
                </div>
                <div class="p-4">
                    <h4 style="color: white;">Innovation</h4>
                    <p class="para">
                        We are here to innovate your idea's into new products, services, or strategies that solve your problems,
                        enhance efficiency, and deliver value in unique ways with minimum time. Through innovation, businesses and individuals can drive progress, stay competitive, and shape the future.
                    </p>
                </div>
            </div>
        </div>
        <!-- [ngClass]="{'fade-in-text-2': isScroll}" -->
        <div class="service-item innovation xs-mb">
            <div class="example-card">
                <div class="middle-header">
                    <img src="../../../assets/img/automate.webp" alt="" width="350">
                </div>
                <div class="p-4">
                    <h4>Automation</h4>
                    <p>
                        Using technology to perform tasks with minimal human intervention, streamlining processes for greater efficiency and accuracy. It allows businesses to reduce manual effort, save time, and increase productivity by automating repetitive or complex tasks.
                    </p>
                </div>
                
            </div>
        </div>
        <!-- [ngClass]="{'fade-in-text-3': isScroll}" -->
        <div class="service-item xs-mb">
            <div class="example-card middle-content">
                <div class="middle-header">
                    <img src="../../../assets/img/elevate.jpg" alt="" width="350">
                </div>
                <div class="p-4">
                    <h4 style="color: white;">Elevation</h4>
                    <p class="para">
                        "Elevate" helps to raise something to a higher level, whether in performance, quality, or status.
                        It involves enhancing skills, processes, or experiences to achieve greater success and impact.
                        In business, elevating means unlocking potential, reaching new heights, and creating value that surpasses the ordinary.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>