<section>
    <div [ngClass]="{'fade-in-image': isScroll}"
        class="service-container d-flex flex-row justify-content-between align-items-start">
        <div [ngClass]="{'fade-in-text-1': isScroll}" class="service-item">
            <div class="example-card middle-content">
                <div class="middle-header">
                    <img src="../../../assets/img/assembling.webp" alt="">
                </div>
                <div class="p-5">
                    <h4 style="color: white;">Innovation</h4>
                    <p class="para">
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </div>
            </div>
        </div>
        <div [ngClass]="{'fade-in-text-2': isScroll}" class="service-item innovation">
            <div class="example-card">
                <div class="p-5">
                    <h4>Innovation</h4>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </div>
                <div class="middle-header">
                    <img src="../../../assets/img/assembling.webp" alt="" width="350">
                </div>
            </div>
        </div>
        {{offset}}
        <div [ngClass]="{'fade-in-text-3': isScroll}" class="service-item">
            <div class="example-card middle-content">
                <div class="middle-header">
                    <img src="../../../assets/img/assembling.webp" alt="" width="350">
                </div>
                <div class="p-5">
                    <h4 style="color: white;">Innovation</h4>
                    <p class="para">
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>