<div class="section-title about-us">
    <!-- <div class="container heading">
        <div class="hover-text"><span>About Us</span></div>
    </div> -->
    <div class="about container row">
        <div class="col-xs-12 col-md-12 col-lg-5">
            <div class="left-side-img-section">
                <div class="position-relative">
                    <img src="../../../assets/gif/welding.jpeg" class="w-100" alt="plutoniadynamics_work">
                </div>
                <div class="experiance-box wow fadeInUp" data-wow-duration=".6s" style="visibility: visible; animation-duration: 0.6s; animation-name: fadeInUp;">
                    <h3>More Than<span>20+</span>Customer's</h3>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-7">
            <div class="right-text-section">
                <!-- <div class="title-with-border-left">
                    <p>About us</p>
                </div> -->
                <h2>LOOKING FORWARD TO INNOVATE YOUR IDEAS INTO REAL</h2>
                <p>
                    <b>Plutonia Dynamics</b> is an innovative startup specializing in the trading, assembly of industrial workstations, material storage rack. 
                    We focus on providing high-quality profiles, pipes, joints, etc. and related components to a variety of industries, including manufacturing, automotive, 
                    engineering, electronics, consumer goods, and heavy machinery. 
                    Our solutions cater to businesses of all sizes, from startups to established enterprises looking to innovate and stay competitive.
                </p>
                <!-- <a href="/about" class="btn-animation-arrow">
                    Read More <img src="/images/b-right-arrow.svg" alt="arrow">
                </a> -->

            </div>
        </div>
    </div>
</div>