.custom-shape-divider-top-1720773855 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1720773855 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 193px;
}

.custom-shape-divider-top-1720773855 .shape-fill {
    fill: rgb(174 205 224);
}

.footer-container {
    padding: 150px 100px 20px;
    h4 {
        color: #ece9e9;
    }
}

.text-primary {
    font-weight: 400;
    color: rgb(232 236 242) !important;
}